/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    color: #10001f;
    background-color: #f9f9f9;
}

header{
    padding: 20px;
    background: linear-gradient(45deg, lightblue, purple);
    /*color: white or black;*/
    text-align: center;
}

header h1{
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
}

header p{
    font-size: 24px;
    margin-top: 5px;
}

header nav ul li{
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a{
    text-decoration: none; /*tira o sublinhado do <a>*/
    color: #fff;
    font-size: 18px;
}

section{
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /*cria como se fosse uma caixa sombreada*/
    border-radius: 10px;
}

section h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

article{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article a{
    text-decoration: none;
    color:#10001f;
    font-weight: bolder;
}

article a:hover{
    color: lightblue;
}

footer{
    color: grey;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: grey;
}

footer a:hover{
    text-decoration: underline;
    color: lightblue;
}

.direitos{
    font-size: 14px;
    color: lightblue;
    margin-bottom: 10px;
}

#anti-copia{
    font-size: 18px;
    user-select: none; /*impede que o texto seja selecionado*/
}

h2:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: lightseagreen;
}

#project-link:hover{
    display: inline-block;
    padding: 2px 3px;
    background-color: lightblue;
    color: #10001f;
    border-radius: 5px;
    text-decoration: none;
}

.nav-link:hover{
    color: plum;
    text-decoration: underline;
}