@use 'variaveis';
@use 'mixins';

.cabecalho {
    background: variaveis.$cor-primaria;
    color: white;
    padding: variaveis.$espacamento-padrao;
    
    &_title{
        text-align: center;
    }
}
