body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    align-items: center;
}

img {
    max-width: 100%;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

header {
    background-color: rgb(68, 102, 214);
    display: grid;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 2px solid rgb(5, 26, 95);
}

main{
    align-self: center;
    justify-self: center;
    width: 90%;
    margin: 1.25rem auto;
    padding: 1.25rem;
}
p{
    text-align: center;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 10rem;
}

.cabeçalho {
    width: 75%;
    display: flex;
    justify-content: space-between; /* Separa o logo dos links */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto; /* Centraliza horizontalmente */
}
ul {
  list-style: none; /* Remove as bolinhas da lista */
  padding-left: 0;  /* Remove o recuo padrão do navegador */
  margin: 0;        /* Zera a margem externa */
}

ul li {
  margin-bottom: 8px;
}

li {
    list-style: none;
    text-align: center;
}

a{
    margin: 0 0.5rem;
    color: #333;
    text-decoration: none;
}


.links {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
}

form {
    display: grid;
    gap: 0.5rem;
    background-color: lightblue;
    border: 2px solid rgb(68, 102, 214);
    border-radius: 0.5rem;
    padding: 1rem;
}

@media (max-width: 600px) {
    img{
        max-width: 25%;
    }
    body{

    }
}

@media (min-width: 601px) and (max-width: 900px) {
    img{
        max-width: 25%;
    }
}

@media (min-width: 901px) {
    img{
        max-width: 12.5%;
    }
}